---
import Figure from '@components/Figure.astro';
export interface Props {
	name: string;
	img: any;
	imageFit?: 'cover' | 'contain' | 'fill' | 'inside' | 'outside';
}

const { name, img, imageFit } = Astro.props;
---

<div class="border-gray-400 border w-[16rem] rounded card bg-dkrbg lg:hover:scale-105 mt-7">
	<Figure classList={["!m-0 rounded-b-none"]} img={img} imageFit={imageFit} />
	<div class="p-3">
		<h3 class="text-center">{name}</h3>
		<slot />
	</div>
</div>

<style is:global>
	div.card {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 400ms;
	}
	div.card p {
		margin: 0;
		text-align: center;
	}
	div.card img {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
</style>
