---
export interface Props {
    href: string;
}
const { href } = Astro.props;
---
<div class="p-2 group hover:bg-lc4 transition-all rounded text-sm justify-self-end border-gray-400 border mr-2">
    <a href={href} class="text-gray-300 group-hover:!text-c2"><slot /></a>
</div>