---
export interface Props {
    href: string;
    currUrl?: string;
}
const { href, currUrl } = Astro.props;
const active = href === currUrl || (href === '/' && currUrl === '');
---
{active ? 
    <a href={href} class="p-2 group bg-llc4 transition-all rounded pointer-events-none text-[0.8rem] mr-1">
        <span class="text-c2"><slot /></span>
    </a> :
    <a href={href} class="p-2 group hover:bg-lc4 transition-all rounded text-[0.8rem] mr-1">
        <span class="text-gray-300 group-hover:!text-c2"><slot /></span>
    </a>
}
