---
export interface Props {
    href: string;
    currUrl?: string;
}
const { href, currUrl } = Astro.props;
const active = href === currUrl || (href === '/' && currUrl === '');
---
<div class="single-nav-button">
    {active ? 
        <a href={href} class="p-2 group bg-llc4 transition-all rounded text-sm pointer-events-none">
            <span class="text-c2"><slot /></span>
        </a> :
        <a href={href} class="p-2 group hover:bg-lc4 transition-all rounded text-sm">
            <span class="text-gray-300 group-hover:!text-c2"><slot /></span>
        </a>
    }
</div>
<style is:global>
    div.single-nav-button * {
        font-size: 0.8rem;
    }
</style>