---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bg">
		<slot />
	</body>
	<footer class="bg-lc4 border-t-black border-t">
		<div class="md:flex block container mx-auto p-5 items-center justify-between">
			<a href="https://www.fhjh.tp.edu.tw/">
				<img src="/img/fhjh.png" class="md:h-20 h-16 md:mb-0 mb-3 md:mx-0 mx-auto" alt="">
			</a>
			<div class="block">
				<a href="http://www.globalschoolnet.org/gsncf/"><img src="https://pottery.pages.dev/static/img/cyberfairbanner.jpg" class="md:mx-0 mx-auto" alt=""></a>
				<p class="text-gray-600 text-sm text-center mt-2">This site is optimized for 1920x1080 screens <br>
					© 2022-2023 Saving Coral Reefs (一個中文名稱)</p>
			</div>
		</div>
	</footer>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.5rem, 0.7vw + 1.5rem, 2rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}


</style>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Righteous&family=Patua+One&display=swap');

	* {
		font-family: 'Noto Sans', sans-serif;
		text-align: justify;
	}

	h1 {
		font-size: var(--font-size-xl);
		font-family: 'Righteous', display;
	}

	h2 {
		font-size: var(--font-size-lg);
		font-family: 'Righteous', display;
	}

	h3 {
		font-size: 1.3rem;
		font-weight: bold;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	p {
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 500,
			'GRAD' 0,
			'opsz' 48
	}
</style>
