---
import { Image } from '@astrojs/image/components';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/@popperjs/core@2" is:inline></script>
		<title>{title}</title>
	</head>
	<body class="bg-bg">
		<slot />
	</body>
	<footer class="bg-gradient-to-r from-[rgba(4,27,21,0.4)] to-[rgba(5,51,45,0.4)] border-t-black border-t">
		<div class="md:flex block container mx-auto p-5 items-center justify-between">
			<a href="https://www.fhjh.tp.edu.tw/" target="_blank">
				<Image src={import('../assets/img/fhjh.png')} class="md:h-20 h-16 md:mb-0 mb-3 md:mx-0 mx-auto w-auto" format="webp" width="368" height="104" fit="contain" alt=""></Image>
			</a>
			<div class="block">
				<a href="http://www.globalschoolnet.org/gsncf/" target="_blank">
					<Image src={"https://pottery.pages.dev/static/img/cyberfairbanner.jpg"} format="webp" width="468" height="65" class="md:mx-0 mx-auto" alt=""></Image>
				</a>
				<p class="text-black text-sm text-center mt-2 mb-0">This site is optimized for 1920x1080 screens <br>
					© 2022-2023 Saving Coral Reefs (一個中文名稱)</p>
			</div>
		</div>
	</footer>
</html>

<script is:inline>
	/*! modernizr 3.6.0 (Custom Build) | MIT *
	* https://modernizr.com/download/?-webpalpha-setclasses !*/
	// !function(n,e,o){function t(n,e){return typeof n===e}function s(){var n,e,o,s,a,i,f;for(var c in l)if(l.hasOwnProperty(c)){if(n=[],e=l[c],e.name&&(n.push(e.name.toLowerCase()),e.options&&e.options.aliases&&e.options.aliases.length))for(o=0;o<e.options.aliases.length;o++)n.push(e.options.aliases[o].toLowerCase());for(s=t(e.fn,"function")?e.fn():e.fn,a=0;a<n.length;a++)i=n[a],f=i.split("."),1===f.length?Modernizr[f[0]]=s:(!Modernizr[f[0]]||Modernizr[f[0]]instanceof Boolean||(Modernizr[f[0]]=new Boolean(Modernizr[f[0]])),Modernizr[f[0]][f[1]]=s),r.push((s?"":"no-")+f.join("-"))}}function a(n){var e=u.className,o=Modernizr._config.classPrefix||"";if(A&&(e=e.baseVal),Modernizr._config.enableJSClass){var t=new RegExp("(^|\\s)"+o+"no-js(\\s|$)");e=e.replace(t,"$1"+o+"js$2")}Modernizr._config.enableClasses&&(e+=" "+o+n.join(" "+o),A?u.className.baseVal=e:u.className=e)}function i(n,e){if("object"==typeof n)for(var o in n)c(n,o)&&i(o,n[o]);else{n=n.toLowerCase();var t=n.split("."),s=Modernizr[t[0]];if(2==t.length&&(s=s[t[1]]),"undefined"!=typeof s)return Modernizr;e="function"==typeof e?e():e,1==t.length?Modernizr[t[0]]=e:(!Modernizr[t[0]]||Modernizr[t[0]]instanceof Boolean||(Modernizr[t[0]]=new Boolean(Modernizr[t[0]])),Modernizr[t[0]][t[1]]=e),a([(e&&0!=e?"":"no-")+t.join("-")]),Modernizr._trigger(n,e)}return Modernizr}var r=[],l=[],f={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(n,e){var o=this;setTimeout(function(){e(o[n])},0)},addTest:function(n,e,o){l.push({name:n,fn:e,options:o})},addAsyncTest:function(n){l.push({name:null,fn:n})}},Modernizr=function(){};Modernizr.prototype=f,Modernizr=new Modernizr;var c,u=e.documentElement,A="svg"===u.nodeName.toLowerCase();!function(){var n={}.hasOwnProperty;c=t(n,"undefined")||t(n.call,"undefined")?function(n,e){return e in n&&t(n.constructor.prototype[e],"undefined")}:function(e,o){return n.call(e,o)}}(),f._l={},f.on=function(n,e){this._l[n]||(this._l[n]=[]),this._l[n].push(e),Modernizr.hasOwnProperty(n)&&setTimeout(function(){Modernizr._trigger(n,Modernizr[n])},0)},f._trigger=function(n,e){if(this._l[n]){var o=this._l[n];setTimeout(function(){var n,t;for(n=0;n<o.length;n++)(t=o[n])(e)},0),delete this._l[n]}},Modernizr._q.push(function(){f.addTest=i}),Modernizr.addAsyncTest(function(){var n=new Image;n.onerror=function(){i("webpalpha",!1,{aliases:["webp-alpha"]})},n.onload=function(){i("webpalpha",1==n.width,{aliases:["webp-alpha"]})},n.src="data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA=="}),s(),a(r),delete f.addTest,delete f.addAsyncTest;for(var p=0;p<Modernizr._q.length;p++)Modernizr._q[p]();n.Modernizr=Modernizr}(window,document);	(function() {
	(function () {
		Modernizr.on('webpalpha', function(result) {
			if (result) {
				const imgs = document.getElementsByTagName("img");
				console.log(imgs);
				for (let i = 0; i < imgs.length; i++) {
					const img = imgs[i];
					const src = img.getAttribute("src");
					if (src) {
						img.setAttribute("src", src.replace(".webp", ".png"));
					}
				}
			}
		});
	})();
</script>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Patua+One&family=Merriweather&display=swap');

	:root {
		/* --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.3rem, 0.7vw + 1.3rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); */

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: 1.19rem;
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	* {
		font-family: 'Merriweather', sans-serif;
		-moz-font-smoothing: none;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
	}

	h1 {
		font-family: 'Merriweather', display;
	}

	nav h2 {
		font-size: 1.5rem;
		font-family: 'Righteous', display;
		text-align: left;
	}

	h2 {
		font-size: 1.5rem;
		font-family: 'Merriweather', display;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	h3 {
		font-size: 1.1rem;
		font-family: 'Merriweather', display;
		font-weight: bold;
		margin-bottom: 0.4rem;
	}

	h4 {
		font-weight: bold;
		margin-bottom: 0.3rem;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	p {
		font-size: 0.8rem;
		margin-bottom: 1.5rem;
		line-height: 1.75rem;
		text-align: justify;
	}

	a {
		font-size: 0.8rem;
	}

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 500,
			'GRAD' 0,
			'opsz' 48
	}

	ol {
		list-style-type: decimal;
		padding-left: 2rem;
		font-size: 0.8rem;
		margin-bottom: 1.5rem;
	}

	ul {
		list-style-type: disc;
		padding-left: 2rem;
		font-size: 0.8rem;
		margin-bottom: 1.5rem;
	}

	a {
		color: #005fef;
		text-decoration: underline;
	}

	nav a {
		color: inherit;
		text-decoration: inherit;
	}

	*::selection {
		background-color: rgba(197, 245, 95, 0.8);
	}
</style>
